<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Quản lý đơn đặt hàng</h3>
            <!-- Button trigger modal -->
            <table class="table table-striped table-hover table-bordere" id="tbbook">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 18%">Tên Khách hàng</th>
                    <th style="width: 15%">Số điện thoại</th>
                    <th style="width: 13%">Số người</th>
                    <th style="width: 12%">Khung giờ</th>
                    <th style="width: 10%">Món ăn</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#each bookList}}
                    <tr>
                        <td>{{noNum}}</td>
                        <td>{{user.fullname}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{people}} (0{{peplekiss}} trẻ nhỏ)</td>
                        <td>{{time}}</td>
                        <td>
                            <a href="/admin/bookByIdWeb/{{_id}}" type="button" name="showBtn" class="showBtn btn btn-primary"
                               data-id={{_id}}
                               class="btn btn-primary">Chi tiết
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>



</div>
<script>
    $('#tbbook').DataTable();
</script>

