<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Quản lý đơn hủy</h3>
            <!-- Button trigger modal -->
            <table class="table table-striped table-hover table-bordered" id="tbcancellod">
                <thead>
                <tr>
                    <th style="width: 10%">#</th>
                    <th style="width: 15%">Tên Khách hàng</th>
                    <th style="width: 15%">Số điện thoại</th>
                    <th style="width: 10%">Số người</th>
                    <th style="width: 13%">Khung giờ</th>
                    <th style="width: 10%">Món ăn</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#each bookList}}
                    <tr>
                        <td>{{noNum}}</td>
                        <td>{{user.fullname}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{people}}</td>
                        <td>{{time}}</td>
                        <td>
                            <a href="/admin/bookByIdWeb/{{_id}}" type="button" name="showBtn" class="showBtn btn btn-primary"
                               data-id={{_id}}
                               class="btn btn-primary">Chi tiết
                            </a>
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


</div>
<script>
    $('#tbcancellod').DataTable();
</script>
