<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Quản lý món ăn</h3>
            <!-- Button trigger modal -->
            <button type="button" id="addBtn" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
                Thêm món ăn
            </button>

            <div class="form-group">
                <label for="category2">Lọc món ăn</label>
                <select class="form-control" name="category2" id="category2">
                    {{#each categorys}}
                        <option value="{{_id}}">{{nameCategory}}</option>
                    {{/each}}
                </select>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th style="width: 2%">#</th>
                    <th style="width: 10%">Hình ảnh</th>
                    <th style="width: 15%">Tên món ăn</th>
                    <th style="width: 10%">Thể loại</th>
                    <th style="width: 13%">Giá tiền</th>
                    <th style="width: 10%">Thời gian</th>
                    <th style="width: 10%">Lượng Calo</th>
                    <th style="width: 8%">Trọng lượng</th>
                    <th style="width: 15%">Thành phần</th>
                    <th style="width: 5%">Hành động</th>
                    <th style="width: 5%">Hành động</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#each dishList}}
                    <tr>
                        <td>{{noNum}}</td>
                        <td><img width="100px" src={{imageDish}}></td>
                        <td>{{nameDish}}</td>
                        <td>{{category.nameCategory}}</td>
                        <td>{{price}} đồng</td>
                        <td>{{time}} phút</td>
                        <td>{{calories}} Kcal</td>
                        <td>{{weight}} g</td>
                        <td>{{ingredient}}</td>
                        <td>
                            <button type="button" name="editBtn" class="editBtn btn btn-primary" data-id={{_id}}
                                    data-categotyid="{{category._id}}" class="btn btn-primary">Sửa
                            </button>
                        </td>
                        <td>
                            <button type="button" name="deleteBtn" class="deleteBtn btn btn-danger" data-id={{_id}}
                                    class="btn btn-danger">Xóa
                            </button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/admin/dish/create" method="post" enctype="multipart/form-data">
                <input type="hidden" name="dishId" id="dishId">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="heading">Thêm món ăn</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nameDish">Tên món ăn</label>
                            <input type="text" class="form-control" name="nameDish" id="nameDish"
                                   placeholder="Tên món ăn">
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="category">Thể loại</label>
                                <select class="form-control" name="category" id="category">
                                    {{#each categorys}}
                                        <option value="{{_id}}">{{nameCategory}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="price">Giá tiền ( VND )</label>
                                <input type="number" class="form-control" name="price" id="price"
                                       placeholder="Giá tiền">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-8">
                                <label for="time">Thời gian hoàn thiện ( phút )</label>
                                <input type="number" class="form-control" name="time" id="time"
                                       placeholder="Thời gian hoàn thiện">
                            </div>
                            <div class="form-group col-4">
                                <label for="calories">Lượng Calo( Kcal )</label>
                                <input type="number" class="form-control" name="calories" id="calories"
                                       placeholder="Lượng Calo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="weight">Trọng lượng ( g )</label>
                            <input type="number" class="form-control" name="weight" id="weight"
                                   placeholder="Trọng lượng">
                        </div>
                        <div class="form-group">
                            <label for="ingredient">Thành phần</label>
                            <textarea class="form-control" name="ingredient" id="ingredient" rows="3"></textarea>
                        </div>
                        <div class="btn btn-secondary-success btn-rounded waves-effect btn-sm float-left w-full text-left">
                            <label for="image">Hình ảnh minh họa</label>
                            <span>Choose file</span>
                            <input type="file" name="image">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                        <button type="submit" id="submitBtn" class="btn btn-primary">Đăng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteId" tabindex="-1" role="dialog" aria-labelledby="deleteTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/admin/dish/delete" method="post">
                <input type="hidden" name="dishIdDel" id="dishIdDel">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="headingDel">Xóa món ăn</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Bạn muốn xóa món ăn này</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                        <button type="submit" id="submitBtn" class="btn btn-primary">Xóa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.querySelector('#addBtn').addEventListener('click', e => {
        document.querySelector('#heading').innerText = "Thêm món ăn";
        document.querySelector('#submitBtn').innerText = "Đăng";
        document.querySelector('#nameDish').value = "";
        document.querySelector('#dishId').value = "";
        document.querySelector('#price').value = "";
        document.querySelector('#imageDish').value = "";
        document.querySelector('#time').value = "";
        document.querySelector('#calories').value = "";
        document.querySelector('#time').value = "";
        document.querySelector('#weight').value = "";
        document.querySelector('#category').selectedIndex = 0
    })

    function addEvent() {
        document.querySelectorAll('.editBtn').forEach(item => {
            item.addEventListener('click', e => {
                let pid = e.target.dataset.id;
                let category = e.target.dataset.categoryid;
                let pr = e.target.parentNode.parentNode;
                let nameDish = pr.getElementsByTagName('td')[2].innerText;
                let price = pr.getElementsByTagName('td')[4].innerText;
                let time = pr.getElementsByTagName('td')[5].innerText;
                let calories = pr.getElementsByTagName('td')[6].innerText;
                let weight = pr.getElementsByTagName('td')[7].innerText;
                let ingredient = pr.getElementsByTagName('td')[8].innerText;
                document.querySelector('#heading').innerText = "Sửa món ăn";
                document.querySelector('#submitBtn').innerText = "Cập nhật";
                document.querySelector('#nameDish').value = nameDish;
                document.querySelector('#dishId').value = pid;
                document.querySelector('#price').value = price;
                document.querySelector('#time').value = time;
                document.querySelector('#calories').value = calories;
                document.querySelector('#weight').value = weight;
                document.querySelector('#ingredient').value = ingredient;
                document.querySelector('#category').value = category;
                $('#modelId').modal('show')
            })
        })
    }

    addEvent();

    function delEvent() {
        document.querySelectorAll('.deleteBtn').forEach(item => {
            item.addEventListener('click', e => {
                let pid = e.target.dataset.id;
                document.querySelector('#dishIdDel').value = pid;
                $('#deleteId').modal('show')
            })
        })
    }

    delEvent();

    document.querySelector('#category2').addEventListener('change', e => {
        fetch(`/admin/dishByCategoryWeb/${e.target.value}`)
                .then(res => res.json())
                .then(response => {
                    let innerHtml = '';
                    if (response.data.length > 0) {
                        response.data.forEach((elm, index) => {
                            innerHtml += `<tr>
                        <td>${index + 1}</td>
                        <td><img width="100px" src=${elm.imageDish}></td>
                        <td>${elm.nameDish}</td>
                        <td>${elm.category.nameCategory}</td>
                        <td>${elm.price}</td>
                        <td>${elm.time}</td>
                        <td>${elm.calories}</td>
                        <td>${elm.weight}</td>
                        <td>${elm.ingredient}</td>
                        <td><button type="button" name="editBtn" class="editBtn btn btn-primary" data-id=${elm._id}
                                data-authorid="${elm.category._id}" class="btn btn-primary">Sửa</button></td>
                        <td><button type="button" name="deleteBtn" class="deleteBtn btn btn-danger" data-id=${elm._id}
                                    class="btn btn-danger">Xóa
                            </button></td>
                    </tr>`
                        })
                    } else {
                        innerHtml += `<tr>
                        <td>Không có món ăn nào</td>
                    </tr>`
                    }
                    document.querySelector('#tbody').innerHTML = innerHtml;
                    addEvent();
                    delEvent();
                })
    })
</script>
